<div class="d-flex">

    <!-- Comienzo del Sidebar -->
    <div class="bg-dark border-right p-3" id="sidebar">
        <h3 class="text-light">
            GifsPro 🍟
        </h3>
        <hr class="text-light">
        <div class="list-group list-reset">
            <a href="#" class="list-group-item list-group-item-action">
                Primero
            </a>
            <a href="#" class="list-group-item list-group-item-action">
                Segundo
            </a>
            <a href="#" class="list-group-item list-group-item-action">
                Tercero
            </a>
        </div>
    </div>
    <!-- Fin del Sidebar -->
    
    <!-- Comienzo del Main -->
    <div class="container">
        <div class="row p-3">
            <div class="col mb-2">
                <h4>Busca tu gif</h4>
                <input type="text" class="form-control" placeholder="Escribe algo...">
            </div>
            <hr>
        </div>

        <div class="row">
            <div class="col">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo molestias architecto facilis optio fugiat debitis? Minima consequuntur quia sit praesentium deleniti alias similique cupiditate tempore eaque quos! Eos, mollitia aut!</p>
            </div>
        </div>

    </div>
    <!-- Comienzo del Main -->
</div>